# The Movie Database (TMDb) API Key (v3)
# Skaffa gratis nyckel på https://www.themoviedb.org/settings/api
TMDB_API_KEY=
NEXT_PUBLIC_TMDB_API_KEY=

# Supabase Konfiguration (Projekt #2 för Bingelog)
# Finns i din Supabase Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
